.select-spacing {
    margin-right: 10px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing1 {
    margin-right: 110px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing2 {
    margin-right: 105px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing3 {
    margin-right: 137px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing4 {
    margin-right: 90px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing5 {
    margin-right: 62px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing6 {
    margin-right: 68px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing7 {
    margin-right: 100px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing8 {
    margin-right: 78px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing9 {
    margin-right: 92px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing10 {
    margin-right: 112px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing11 {
    margin-right: 52px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing12 {
    margin-right: 72px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing13 {
    margin-right: 64px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing14 {
    margin-right: 125px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing15 {
    margin-right: 25px; /* Adicione a margem desejada entre os elementos */
}

.select-spacing16 {
    margin-right: 135px; /* Adicione a margem desejada entre os elementos */
}
